allow the user to configure their own T1 and T2 when T1 and T2 are 0

RFC 8415 section 14.2 essentially says if T1 or T2 are 0 their time values are left to the discretion of the client. I think it would be good if the user could configure what they want the client to set T1 and T2 to be in this situation